$darkgrey-color: #323232;
$orange-color: #f78434;

* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    max-width: 1110px;
    margin: 0 auto;

    // от 1140 px в ширину до самого маленького экрана, идем к 0
    @media (max-width: 1140px) {
        max-width: 90%;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 34px auto;

    @media (max-width: 992px) {
        margin: 10px auto;
    }

    @media (max-width: 725px) {
        flex-direction: column;
        margin: 0px auto;
    }

    &-links {
        display: flex;
        list-style: none;

        @media (max-width: 783px) {
            align-items: center;
            padding-left: 0;
        }

        @media (max-width: 550px) {
            padding-left: 0;
            margin: 0;
            flex-direction: column;
        }
    }

    &-link-item {
        margin: 0 21px;

        @media (max-width: 992px) {
            font-size: 14px;
            margin: 0 10px;
        }

        &:last-of-type {
            margin-right: 0;
        }

        &.active {
            a {
                color: $orange-color;
                font-weight: 700;

                &:hover {
                    color: lighten($orange-color, 20%);
                }
            }
        }

        a {
            color: $darkgrey-color;
            text-decoration: none;
            transition: 0.3s;

            &:hover {
                color: lighten($darkgrey-color, 20%);
            }
        }
    }
}

img {
    max-width: 100%;
}

.intro-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 992px) {
        flex-direction: column-reverse;
        align-items: center;
    }

    .intro-col {
        max-width: 48%;

        @media (max-width: 992px) {
            max-width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

.intro-heading {
    font-size: 54px;
    line-height: 1.45;
    letter-spacing: 0.8px;
    color: $darkgrey-color;
    width: 680px;
    position: relative;
    margin: 0 0 30px;

    @media (max-width: 992px) {
        width: 100%;
        text-align: center;
        font-size: 36px;
        margin: 0;
    }

    @media (max-width: 768px) {
        width: 100%;
        font-size: 36px;
    }

    @media (max-width: 550px) {
        font-size: 24px;
    }
}

.text {
    letter-spacing: 1.15px;
    color: $darkgrey-color;

    @media (max-width: 992px) {
        margin: 10px 0;

        @media (max-width: 550px) {
            font-size: 15px;
        }
    }
}

.intro-form {
    position: relative;
    overflow: hidden;
    display: flex;
    max-width: 460px;
    margin-top: 40px;

    @media (max-width: 992px) {
        margin-top: 10px;
    }

    @media (max-width: 450px) {
        overflow: visible;
        margin: 10px auto;
    }

    &::before {
        content: "";
        background-image: url(../img/email-icon.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        display: inline-block;
        width: 24px;
        height: 19px;
        position: absolute;
        left: 28px;
        top: 50%;
        transform: translateY(-50%);
    }

    .intro-input-text {
        border-radius: 29px;
        box-shadow: 0px 17px 42px 0px #0000001f;
        padding: 17px 160px 17px 72px;
        border: 0;
        width: 100%;
        font-size: 16px;

        @media (max-width: 450px) {
            padding: 17px 10px 17px 72px;
        }

        &:focus {
            outline-color: lighten($orange-color, 30%);
        }

        &::placeholder {
            color: #bbb;
        }
    }

    .btn {
        position: absolute;
        top: 0;
        right: 0;

        @media (max-width: 450px) {
            top: 60px;
            width: 100%;
        }
    }
}

.btn {
    width: 172px;
    height: 58px;
    text-align: center;
    color: white;
    display: inline-block;
    background-color: $orange-color;
    padding: 17px 32px;
    border-radius: 50px;
    border: 0;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;

    &:hover {
        background-color: lighten($orange-color, 20%);
    }
}

.white-btn {
    width: 172px;
    height: 58px;
    text-align: center;
    color: $orange-color;
    display: inline-block;
    background-color: white;
    padding: 18px 32px;
    border-radius: 50px;
    border: 0;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;

    &:hover {
        background-color: darken(white, 10%);
    }
}

.logo-sect {
    margin: 100px auto;

    @media (max-width: 992px) {
        margin: 20px;
    }

    @media (max-width: 550px) {
        margin-top: 60px;
    }

    .logo-container-inner {
        max-width: 1110px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        gap: 95px;

        @media (max-width: 992px) {
            gap: 2rem;
        }

        @media (max-width: 576px) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}

.learn-more-sect {
    margin-bottom: 145px;

    @media (max-width: 992px) {
        margin-bottom: 70px;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 992px) {
            flex-direction: column;
        }

        .learn-more-inner-1 {
            position: relative;
            display: flex;
            right: 245px;
            max-width: 64%;

            @media (max-width: 992px) {
                right: 0;
                justify-content: center;
            }

            @media (max-width: 825px) {
                flex-direction: column;
                max-width: 100%;
            }

            img {
                margin: 0 16px;
            }

            .learn-more-logo {
                position: absolute;
                padding-right: 29px;
                right: -160px;
                bottom: 90px;
                width: 300px;
                height: 140px;
                border-radius: 15px;
                box-shadow: 4px 20px 42px -2px #0000001f;
                background-color: white;
                display: flex;
                justify-content: space-between;
                align-items: center;

                @media (max-width: 825px) {
                    right: 15px;
                }

                @media (max-width: 590px) {
                    bottom: 0px;
                    max-width: 100%;
                    height: auto;
                }

                @media (max-width: 384px) {
                    padding: 0;
                    height: 70px;
                }

                img {
                    margin: 48px 0px 48px 29px;
                }

                .inside-logo-text {
                    width: 177px;

                    .heading-h4 {
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 1.5;
                        letter-spacing: 0.8px;
                        margin: 0;
                    }

                    .text {
                        margin: 0;

                        @media (max-width: 590px) {
                            letter-spacing: 0.5px;
                            font-size: 12px;
                        }
                    }
                }
            }
        }

        .learn-more-inner-2 {
            max-width: 34%;

            @media (max-width: 992px) {
                max-width: 100%;
                padding: 20px;
            }

            .section-heading {
                margin-bottom: 0;
            }

            .text {
                margin: 20 auto;
            }

            .btn {
                margin-top: 20px;
            }
        }
    }
}

.start-sect {
    background-image: url(../img/get-started-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 704px;
    background-position: 50%;

    @media (max-width: 825px) {
        background-position: 50% 95%;
    }

    &-inner {
        background-image: url(../img/start-background.jpg);
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 464px;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        border-radius: 20px;

        @media (max-width: 768px) {
            align-items: center;
        }

        @media (max-width: 550px) {
            height: 350px;
        }

        .start-left-col {
            max-width: 50%;

            &-img {
                position: absolute;
                top: 85px;
                right: 580px;
                z-index: 2;

                @media (max-width: 992px) {
                    top: 35%;
                    right: 55%;
                }

                @media (max-width: 550px) {
                    display: none;
                    max-width: 1%;
                }
            }

            .rectangle {
                position: absolute;
                z-index: 1;
                top: 37px;
                right: 510px;

                @media (max-width: 992px) {
                    top: 25%;
                    right: 47%;
                }

                @media (max-width: 768px) {
                    display: none;
                }
            }
        }

        .start-right-col {
            max-width: 50%;
            padding: 95px;

            @media (max-width: 1140px) {
                padding: 90px 18px 0 0;
            }

            @media (max-width: 992px) {
                padding: 140px 18px 0 0;
            }

            @media (max-width: 768px) {
                padding: 5px;
                text-align: center;

                @media (max-width: 550px) {
                    max-width: 100%;
                }
            }

            .section-heading {
                margin: 0;
                color: white;
            }

            .text {
                margin: 15px 0 30px;
                color: white;
            }

            .white-btn {
                padding: auto 30px auto 30px;
                color: black;
                margin-left: 5px;
                position: relative;

                @media (max-width: 768px) {
                    margin-top: 10px;
                }
            }
        }
    }
}

.get-started {
    margin-top: 145px;
    text-align: center;

    @media (max-width: 992px) {
        margin-top: 70px;
    }

    .section-heading,
    .text {
        margin: 0 0 10px;
    }

    .get-started-inner {
        margin: 45px auto;
        display: flex;
        justify-content: space-between;
        gap: 30px;

        @media (max-width: 825px) {
            flex-direction: column;
            align-items: center;
        }

        &-col {
            width: 540px;
            height: 365px;
            border-radius: 10px;
            padding: 40px 88px;

            .section-heading {
                margin: 15px 0 1px;
            }

            .white-btn {
                margin: 25px 0 39px;

                @media (max-width: 600px) {
                    margin: 10px 0 39px;
                }
            }

            @media (max-width: 600px) {
                height: 327px;
                max-width: 90%;
                padding: 25px 88px;
            }

            @media (max-width: 450px) {
                padding: 25px 25px;
            }
        }

        .buyers {
            background-color: $orange-color;
            color: white;

            .text {
                color: white;
            }
        }

        .seller {
            background-color: white;
        }
    }
}

.choose-sect {
    margin: 112px 0;

    @media (max-width: 992px) {
        margin: 70px;
    }

    .section-heading {
        text-align: center;
        margin: 58px 0;
    }

    &-inner {
        display: flex;
        justify-content: space-between;
        gap: 35px;

        @media (max-width: 768px) {
            flex-wrap: wrap;
        }

        @media (max-width: 480px) {
            justify-content: center;
        }

        &-item {
            text-align: center;

            @media (max-width: 768px) {
                max-width: 44%;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .choose-heading {
                margin: 15px 0 2px;
                font-size: 28px;
                line-height: 1, 5;
                letter-spacing: 0.5px;

                @media (max-width: 992px) {
                    font-size: 18px;
                }
            }

            .text {
                margin: 0;
            }
        }
    }
}

.opinion-sect {
    &-heading {
        display: flex;
        justify-content: space-between;
        gap: 260px;
        align-items: center;

        @media (max-width: 1140px) {
            gap: 157px;
        }

        @media (max-width: 992px) {
            flex-direction: column;
            gap: 10px;
        }

        .section-heading {
            margin: 0 0 58px;

            @media (max-width: 992px) {
                margin: 0;
            }
        }

        .text {
            margin: 0 0 93px;

            @media (max-width: 992px) {
                margin: 0 0 20px;
            }
        }
    }

    &-content {
        display: flex;
        justify-content: space-between;

        @media (max-width: 1140px) {
            flex-wrap: wrap;
            justify-content: center;
        }

        .video {
            position: relative;

            .play-btn {
                position: absolute;
                bottom: 242px;
                right: 20px;
            }

            video {
                max-width: 100%;
                height: 204px;
            }
        }

        &-item {
            width: 350px;
            height: 425px;

            .text {
                margin: 31px 29px 23px;
            }

            .user-name,
            .link-city {
                margin: 0 0 1px 29px;
                text-decoration: none;
            }

            .link-city {
                color: #58bebf;
                transition: 0.3s;

                &:hover {
                    color: lighten($darkgrey-color, 20%);
                }
            }

            .active {
                color: $orange-color;

                &:hover {
                    color: lighten($orange-color, 20%);
                }
            }
        }

        &-item:last-of-type {
            position: relative;

            .opinion-logo {
                position: absolute;
                right: -40px;
                top: -40px;
            }
        }
    }
}

.exp-sect {
    position: relative;
    padding: 160px 0 55px;
    margin: 80px 0 86px;
    background-image: url(../img/exp-bg.svg);
    background-size: cover;

    @media (max-width: 992px) {
        margin-top: 50px;
    }

    @media (max-width: 768px) {
        padding: 300px 0 0;
        margin-top: 0;

        @media (max-width: 576px) {
            margin-top: -200px;
        }

        .container {
            display: flex;
            flex-direction: column;
        }
    }

    .exp-text {
        max-width: 360px;

        @media (max-width: 768px) {
            max-width: 100%;
        }
    }

    .exp-img {
        position: absolute;
        bottom: 0;
        left: 48%;

        @media (max-width: 1280px) {
            left: 37%;
        }

        @media (max-width: 768px) {
            position: static;
            margin-top: 30px;
        }
    }

    .section-heading,
    .text {
        color: white;
    }

    .text {
        margin: 30px 0;
    }

    .white-btn {
        color: $darkgrey-color;
    }
}

.section-heading {
    font-size: 42px;
    line-height: 1.45;
    letter-spacing: 0.8px;

    @media (max-width: 992px) {
        font-size: 28px;
    }
}

.footer {
    margin: 90px auto;
    display: flex;

    @media (max-width: 992px) {
        margin: 45px auto;
    }

    @media (max-width: 768px) {
        flex-wrap: wrap;
        margin: -50px auto 15px;
        justify-content: center;
    }

    &-col {
        width: 20%;

        @media (max-width: 992px) {
            width: 25%;
        }

        @media (max-width: 768px) {
            width: 31%;
            margin: 0px;
            text-align: center;
        }

        @media (max-width: 480px) {
            width: 100%;
        }

        &:first-of-type {
            width: 40%;

            @media (max-width: 768px) {
                width: 100%;
                text-align: center;
                order: 4;
                margin-top: 25px;
            }

            .text {
                max-width: 300px;
                margin: 15px 0 40px;

                @media (max-width: 768px) {
                    margin: 15px auto 15px;
                }
            }
        }

        &:nth-of-type(2) {
            margin-left: 224px;

            @media (max-width: 1140px) {
                margin-left: 80px;
            }

            @media (max-width: 768px) {
                margin-left: 16px;
            }
        }

        &:nth-of-type(3),
        &:nth-of-type(4) {
            margin-left: 84px;

            @media (max-width: 768px) {
                margin-left: 10px;
            }
        }

        .footer-heading {
            font-weight: 700;
            font-size: 21px;
            line-height: 1.47;
            letter-spacing: 0.5px;
        }
    }
}

.footer-link {
    display: flex;
    flex-direction: column;

    &-item {
        text-decoration: none;
        color: $darkgrey-color;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 0.5px;
        line-height: 1.9;

        &:hover {
            color: lighten($darkgrey-color, 20%);
        }
    }
}

.social-links {
    a {
        font-size: 20px;
        margin-right: 30px;
        text-decoration: none;
    }

    .fa-facebook-square {
        color: #4267b2;
    }

    .fa-twitter {
        color: #1da1f2;
    }

    .fa-youtube {
        color: #ff0000;
    }

    .fa-linkedin-in {
        color: #006699;
    }
}
